.BasicBTN {
    -fx-background-radius: 7px;
    -fx-background-color: #222326;
}

.BasicDeleteBTN {
    -fx-background-radius: 7px;
    -fx-background-color: #c71e1e;
}

.UploadBTN {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-style: dashed;
    -fx-border-color: #222326;
    -fx-border-radius: 35px;
}