@import "Text.css";
@import "ScrollPane.css";
@import "Button.css";
@import "ProgressBar.css";
@import "Input.css";

.room {
    -fx-text-fill: #ffffff;
}
.secondary {
    -fx-text-fill: #222326;
}
.accent {
    -fx-text-fill: #000;
}


.uploadedImage {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #222326;
    -fx-border-radius: 15px;
}

.background {
    -fx-background-color: #ffffff;
}


.ImageView {
    -fx-background-size: cover;
    -fx-background-repeat: none;
    -fx-background-position: center;
}


.actionButtonBase {
    -fx-background-color: rgba(126, 126, 126, 0.5);
    -fx-background-radius: 50;
}


.selectedImage {
    -fx-border-color: #2749ff;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.1, 0, 0);
}